.main__link {
  margin: 5px;
  padding: 10px;
  background-color: rgb(255, 236, 129);
  color: black;
  border: 1px solid #122234;
  border-radius: 5px;
  text-decoration: none;
  font-size: 30px;

  &.active {
    background-color: rgb(253, 174, 174);
  }

  &:hover {
    background-color: rgb(253, 174, 174);
  }
}
